body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin:40px auto;
    padding: 0 20px;
    background-color: #10172a;
    color: #e3e9f0
}

header{
    text-align: center;
    padding: 40px 20px;
    background-color: #1f3983;
    color: white;
    border-radius:10px;
    margin-bottom: 25px;
}

section, footer{
    background: #1e293b;
    padding: 25px;
    margin-bottom:20px;
    border-radius:10px;
}

h1,h2, h3{
    color:#3dc1fa;
    margin-top:0;
    
}

.hobby{
    background-color: #0f172a;
    padding:15px;
    margin-bottom:15px ;
    border-radius:8px  ;

}

.tag{
    display: inline-block;
    background:#0369a1;
    color:white;
    padding:5px 12px;
    border-radius: 15px;
    font-size: 0.87rem;
    margin-right: 5px;
}